body {
    font-family:Arial ;
    margin: 0;
    padding: 0;
}

header {
    background: #194a7a;
    color: White;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

nav a:hover {
    color: black;
}

main {
    padding: 20px;
}

footer {
    background: #7593af;
    color: white;
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {
    header {
        padding: 10px;
        font-size: 18px;
    }

    nav {
        flex-direction: column; 
        align-items: center;
    }

    nav a {
        margin: 5px 0;
        display: block;
    }

    main {
        padding: 10px;
    }

    footer {
        font-size: 14px;
        padding: 8px;
    }
}

.landing {
    position: relative;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 0 0 8px gray;
}
@media (max-width: 768px) {
    .landing {
        height: 293px;
    }
}
.intro-text {
    text-align: center;
    padding: 40px 20px 0;
}
.intro-text h1 {
    margin: 0 0 10px;
    font-weight: bold;
    font-size: 36px;
    color: var(--main-color);
}
.intro-text p {
    font-size: 19px;
    line-height: 1.8;
    max-width: 700px;
    margin: 0 auto 20px;
}